Taking Input from the user.........................................................

In [1]:
name = input("Enter your name: ")
print("Your name is : ")
print(name)

Enter your name: Tawqeer Ul Islam
Your name is :
Tawqeer Ul Islam

In [2]:
marks = int(input("Enter Your marks : "))
per  = (marks /500)*100
print("You Scored ")
print(per)
print("%")

Enter Your marks : 452
You Scored
90.4
%

Formatting...........................................................................

In [3]:
print("hello my name is : {x}".format(x='Tawqeer ul Islam'))

hello my name is : Tawqeer ul Islam

In [4]:
print("Hello My Name is : %s  " %('Tawqeer'))

Hello My Name is : Tawqeer

In [5]:
print("You have Scored %20.3f \n%36.3f" %(22.2,33.3))

You have Scored               22.200
                              33.300

In [6]:
print("%s is elder brother of %s " %('Tawqeer','Naveed'))

Tawqeer is elder brother of Naveed

In [7]:
print("{a} is elder brother of {n}.{a}'s age is 22 and {n}'s age is 16" .format(a="Tawqeer",n="Naveed"))

Tawqeer is elder brother of Naveed.Tawqeer's age is 22 and Naveed's age is 16

LISTS..................................................

In [8]:
my_list = ["hello", 20, "Sangas"]

In [9]:
print(my_list)

['hello', 20, 'Sangas']

In [10]:
my_list[2]

'Sangas'






TO REVERSE A LIST...............................................................

In [11]:
my_list[::-1]

['Sangas', 20, 'hello']

HIT TAB AFTER 'LISTNAME.' TO GET ALLL THE METHODS AVAILABLE................................

In [12]:
my_list.append("list")

In [13]:
my_list

['hello', 20, 'Sangas', 'list']

In [14]:
my_list.pop(-2)

'Sangas'

DICTIONARIES START FROM HERE........................................................

In [15]:
my_dict = {}

In [16]:
my_dict = {'k1':'Taqbi','k2':123,'k3':2.0}

In [17]:
my_dict['k1']

'Taqbi'

In [18]:
my_dict['k2']+=20

In [19]:
my_dict['k2']

143

In [20]:
my_dict.keys()

dict_keys(['k1', 'k2', 'k3'])

In [21]:
my_dict.values()

dict_values(['Taqbi', 143, 2.0])

In [22]:
my_dict.items()

dict_items([('k1', 'Taqbi'), ('k2', 143), ('k3', 2.0)])

In [23]:
my_dict['address'] = 'Sangas'

In [24]:
my_dict.items()

dict_items([('k1', 'Taqbi'), ('k2', 143), ('k3', 2.0), ('address', 'Sangas')])

In [25]:
my_dict

{'k1': 'Taqbi', 'k2': 143, 'k3': 2.0, 'address': 'Sangas'}

In [26]:
my_dict['k1'][::-1]

'ibqaT'

In [27]:
dict = {1:{2:{3:'hello'}}}

In [28]:
message = dict[1][2][3]

In [29]:
print(message)

hello

In [30]:
dict[4] = 'kulgam'

In [31]:
dict.update()

In [32]:
dict.pop(4)

'kulgam'

In [33]:
dict

{1: {2: {3: 'hello'}}}

In [34]:
dict

{1: {2: {3: 'hello'}}}

Tuples...................................................................

In [35]:
t =  ('hello',12)

In [36]:
t[1]

12

In [37]:
t[1] +1

13

In [38]:
t.count(1)

0

In [39]:
t.count(12)

1

In [40]:
t.index('hello')

0

Files

In [41]:
%%writefile a.txt
"Hello There"

Overwriting a.txt

In [42]:
a = open('a.txt')
a.read()

'"Hello There"'

In [43]:
a.read()

''

In [44]:
a.seek(0)

0

In [45]:
a.readlines()

['"Hello There"']

Sets.................

In [46]:
x = set()

In [47]:
x.add(2)

In [48]:
x

{2}

In [49]:
x.pop()

2

In [50]:
l = [5,2,1,2,4,5]
x = set(l)
print(x)
print(l)

{1, 2, 4, 5}
[5, 2, 1, 2, 4, 5]

In [51]:
b = True

In [52]:
b = 2>5
print(b)
b = None
print(b)

False
None

In [53]:
#Chain COmparisions and use of AND, OR

In [54]:
a = 2
b = 3
c = 5
a < 2 and b > 4

False

In [55]:
b == 3 or c > 3

True

Control Statements............................................................

In [56]:
a = 2
s = 'hello'
if s == 10:
    print("a is greater than 1")
elif False:
    print("This one is also executed")
elif s is 'Hello':
    print(" S is Hello")
else:
    print("Else is executed")

Else is executed

LOOPS................................................

In [57]:
l = [5,6,7,8,10]
for i in l:
    print(i)

5
6
7
8
10

In [58]:
tup =  [(2,3),(4,3),(5,5)]
for (t1,t2) in tup:
    print("t1 = {x1}  t2 = {x2}".format(x1 = t1,x2 = t2))

t1 = 2  t2 = 3
t1 = 4  t2 = 3
t1 = 5  t2 = 5

In [59]:
dic = {' k1':1,'k2':2,'k3':3}
for i,j in dic.items():
    print("{a},{b}".format(a=i,b=j))

 k1,1
k2,2
k3,3

Functions..................................................

In [60]:
import math
def check_prime(n):
    if n % 2 == 0:
        print("{a} is not prime.".format(a = n))
        return
    for i in range(3, int(math.sqrt(n))+1, 2):
        if n%i==0:
            print("{a} is not prime.".format(a = n))
            break
    else:
        print("{a} is prime".format(a = n))

In [61]:
check_prime(397)

397 is prime

Lambda Expressons..................................

In [62]:
mul_5 = lambda x: x*5

In [63]:
mul_5(4)

20

In [64]:
mul_5("Hey! I want to multiply this string by 5. ")

'Hey! I want to multiply this string by 5. Hey! I want to multiply this string by 5. Hey! I want to multiply this string by 5. Hey! I want to multiply this string by 5. Hey! I want to multiply this string by 5. '

In [65]:
length = lambda string: len(string)

In [66]:
length("Can you calculate the number of characters i contain?")

53

In [67]:
import math
hcf = lambda x,y: math.gcd(x,y)
hcf(368268,682686)

6

Object Oriented Programming....................................................................

In [68]:
class Student(object):
    college = "NITJ"
    
    def __init__(self,r,n,g):
        self.roll_no = r
        self.name = n
        self.gender = g

In [69]:
s1 = Student(1,"SAM","male")
s2 = Student(2, "Taq", "male")

In [70]:
print("Student 1 data : {a}  {b}  {c} ".format(a = s1.roll_no, b = s1.name, c = s1.gender))
print("Student 2 data : {a}  {b}  {c} ".format(a = s2.roll_no, b = s2.name, c = s2.gender))

Student 1 data : 1  SAM  male
Student 2 data : 2  Taq  male

In [71]:
class Room(object):
    #class object attribute
    height = 12
    def  __init__(self,l,b):
        self.len = l
        self.bre = b
    def area(self):
        return (self.len)*(self.bre)
    def vol(self):
        v = Room.height * self.area()
        return v

In [72]:
r1 = Room(12,14)
r2 = Room(10,15)

In [73]:
r1.area()

168

In [74]:
r1.vol()

2016

In [75]:
r2.area()

150

In [76]:
r2.vol()

1800

Inheritance....................................

In [77]:
#Creating the animal class
class Animal(object):
    def __init__():
        print("I am an Animal")
    def eats(self):
        print("Food")
#Creating the dog class
class Dog(Animal):
    def __init__(self):
        #Animal.__init__(self)
        print(" called dog")
    def bark(self):
        print("Whoooo Whoooo")
    def eats(self):
        Animal.eats(self)
        print("called dog food")
#Creating objects
d1 = Dog()
d1.bark()
d1.eats()

 called dog
Whoooo Whoooo
Food
called dog food

Special Methods................................................

In [78]:
class Book(object):
    def __init__(self,n,a,p):
        self.name = n
        self.author= a
        self.pages = p
        print("Book created")
    
    #Special method for printing object
    def __str__(self):
        return("Name : %s, Author : %s, pages  : %s "%(self.name,self.author,self.pages))

obj = Book("python","Taq bi",120)
print(obj)

Book created
Name : python, Author : Taq bi, pages  : 120

Errors and Exceptions............................................................................................

In [79]:
try:
    2 +"hello"
except TypeError:
    print("There is a type Error")
finally:
    print("Finally always gets executed")

There is a type Error
Finally always gets executed

In [80]:
try:
    f = open("filename","w")  #A file of the anme filenmae will be created and opened in write mode
    f.write("Hello there,I am writing to the file")
except:
    print("Writing to the File Unsuccesful")
else:
    print("File wriiten Succesful")

File wriiten Succesful

In [81]:
try:
    f = open("filename","r")  #Here we are opening the file in read mode
    f.write("Hello there,I am writing to the file")
except IOError:
    print("Writing to the File Unsuccesful")

else:
    print("File wriiten Succesful")

Writing to the File Unsuccesful

In [82]:
while True:
    try:
        num = int(input("Enter an Integer : "))
    except:
        print("Please enter an Integer : ")
        continue
    else:
        print("Integer Entered is : %s"%(num) )
        break

Enter an Integer : HI
Please enter an Integer :
Enter an Integer : Integer
Please enter an Integer :
Enter an Integer : Hello
Please enter an Integer :
Enter an Integer : 55
Integer Entered is : 55

Modules............................................................

In [83]:
import math
math.sqrt(5.22)

2.2847319317591723

In [84]:
from math import sqrt
sqrt(452)

21.2602916254693